# Python
__pycache__/
*.pyc
.venv/
venv/

# Full database files
database/full/
database/raw/
dataset_raw/
*.zip

# Hidden evaluation files
hidden/
release_tmp/
scripts/
dataset_raw/
hidden/
internal/
sqa_hidden/

# Local configs
*.env
configs/*.yaml
!configs/*.example.yaml