# Python
__pycache__/
*.pyc
.venv/
venv/

# Local configs
*.env
configs/*.yaml
!configs/*.example.yaml

# Full database files
dataset_raw/
preprocess_raw/
*.zip
*.xlsx
*.xls

# Hidden evaluation files
hidden/
release_tmp/
scripts_tmp/
hidden/
internal/
sqa_hidden/
